<!DOCTYPE html>

<div cdkDrag cdkDragRootElement=".modal-content">

<div class="modal-header" cdkDragHandle>
  <mat-icon>drag_handle</mat-icon> 
  <!--<svg width="24px" fill="currentColor" viewBox="0 0 24 24">
    <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
    <path d="M0 0h24v24H0z" fill="none"></path> 
  </svg> -->
  <h4 class="modal-title" id="modal-basic-title">Submit Feedback</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="modal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form [formGroup]="modalForm" (ngSubmit)="onSubmit()">
    <div class="options">
        <label class="container" for="answer"><input
          formControlName="answer"
          type="radio"
          value="Incorrect Data Points"
        /> {{FeedbackPopComponent.option1}}</label>
        
      <label class="container" for="answer">
        <input formControlName="answer" type="radio" value="Not my Company" />
        {{FeedbackPopComponent.option2}}</label>
      

      <label class="container" for="answer"
        ><input
        formControlName="answer"
        type="radio"
        value="Incorrect Visualization of Data"
      />
      {{FeedbackPopComponent.option3}}</label
      >

      <label class="container" for="answer"
        ><input
        formControlName="answer"
        type="radio"
        value="Widget Actions (export, resizing, etc.) Not Working"
      />
      {{FeedbackPopComponent.option4}}</label
      >
      
    </div>
    <div class="modal-footer">
      <button
        type="submit"
        class="btn btn-outline-dark"
        (click)="modal.close('this is working')"
      >
        Submit
      </button>
    </div>
  </form>

</div>

</div>

