<!DOCTYPE html>

<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Submit Feedback</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="modal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form [formGroup]="modalForm" (ngSubmit)="onSubmit()">
    <div class="options">
      <label class="container" for="answer">Incorrect Data Points</label>
      <input
        formControlName="answer"
        type="radio"
        value="Incorrect Data Points"
      />

      <label class="container" for="answer">Not my company</label>
      <input formControlName="answer" type="radio" value="Not my Company" />

      <label class="container" for="answer"
        >Incorrect Visualization of Data</label
      >
      <input
        formControlName="answer"
        type="radio"
        value="Incorrect Visualization of Data"
      />

      <label class="container" for="answer"
        >Widget Actions (export, resizing, etc.) Not Working</label
      >
      <input
        formControlName="answer"
        type="radio"
        value="Widget Actions (export, resizing, etc.) Not Working"
      />
    </div>
    <div class="modal-footer">
      <button
        type="submit"
        class="btn btn-outline-dark"
        (click)="modal.close('this is working')"
      >
        Submit
      </button>
    </div>
  </form>
</div>
